.hero {
    height: auto;
    text-align: center;
  
   }

    .page-title {
        padding: 0 80px 15px 80px;
        font-size: 42px;
        font-weight: 400;
        font-style: bold;
        color: red;
        display: inline-block;
        border-bottom: 4px solid black;
      }

      .columns.is-mobile > .column.is-one-third {
        flex: none;
        width: 33.3333%;
      }
